.menu1{
    background: #323232;
}

nav a.menu_effect:hover {
    color: #B8B8B8;
    text-decoration: none;
}
nav a{
    color: white;
}

 ul{
    list-style-type: none;
   
} 
.icon_menu{
    text-align: center;
}
nav a.icon_menu_effect:hover {
    color: #a33535;
    text-decoration: none;
}
div.jumbotron{
    /* height: auto; */
    background-color: white !important;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 60% 40%;
    
}
div.text{
    /* width: 600px !important; */
}
div.image:hover{
   
    background-color: rgb(206, 206, 206);
} 
p.iphoneSE{
    font-size: 60px;
    font-weight: bold;
}
p.money{
    font-size: 20px;
}