body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
nav.header{

    height: 44px;
    width: 100%;
    margin: 0 auto;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
  }
  
  nav.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }
  
  nav.header a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    transition: 0.3s;
  }
  
  nav.header a:hover {
  color: #B8B8B8;
  text-decoration: none;
  }

 #main nav ul li a img {
   width: 70px;
   height: 50px;
 }

 #main nav ul {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
 }

 #main nav ul li{
   display: block;
   /* background-color: aqua; */
   margin: 2px;
   text-align: center;
 } 

 #main nav ul li a{
   padding: 10px;
   display: block;
   /* background-color: brown; */
   align-items: center;
 }

 #main nav ul li a span{
   clear: both;
 }