.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "menuBar"
    "title"
    "main-content";
    background-color: rgb(255,255,255);
}

.appleNav {
    grid-area: menuBar;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

nav {
    height: 44px;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #B8B8B8;
}

.title {
    grid-area: title;
    height: 40px;
    font-size: 22px;
    padding-left: 300px;
    border-bottom: lightgray solid;
    border-width: 1px;
}

.main-content {
    grid-area: main-content;
}

.introduction {
    height: 480px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "info images";
    background-color: rgb(242,242,242);
}

.introduction-info {
    grid-area: info;
    justify-content: center;
    width: 224px;
    height: 156px;
    margin-top: 162px;
    margin-left: 270px;


}

.introduction-img {
    grid-area: images;

}

.series-3-gps {
    margin: 40px 100px 40px 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 224px;
    word-wrap: break-word;
    text-align: center;
    border: none;
    position: relative;
}

.card-text {
    color: black;
    font-size: 14px;
}

.card-text a:link {
    color: black;
}

.card-text a:visited {
    color: black;
}

.card-text a:hover {
    color: #0070c9;
}

.card-text a:link {
    text-decoration: none;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nike {
    margin: 40px 100px 40px 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
}