body{
  background-color: #f2f2f2;
}
.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "menuBar"
    "title"
    "main-content"
    "footer";
}

.appleNav {
    grid-area: menuBar;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

nav {
    height: 44px;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #B8B8B8;
}

.title {
    grid-area: title;
    height: 40px;
    font-size: 22px;
    padding-left: 300px;
    border-bottom: lightgray solid;
    border-width: 1px;
}

.main-content {
    grid-area: main-content;
    height: 900px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "images info";
    margin: 50px;
}
 
.product-img {
    grid-area: images;
    width: 700px;
    height: 620px;
}

* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 700px;
}

.mySlides {
  display: none;
  width: 550px;
  height: 550px;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  padding: 12px;
  color: gray;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  background-color: rgb(242, 242, 242);
}

.next {
  right: 0;
  border-radius: 50%;
}

.prev:hover, .next:hover {
  background-color: lightgray;
}

/* .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards; 
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.product-info {
  grid-area: info;
  padding: 30px 90px 30px 30px;
} 

/* .band-colors {
  display: flex;
  flex-wrap: wrap;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 1px;
} */

input.size-button-input[type="radio"] {
  display: none;
}

label.size-button-label {
  font-family: 'SF Pro Text', 'Segoe UI', Roboto, sans-serif;
  font-size: 17px;
  line-height: 1.23543;
  font-weight: 400;
  letter-spacing: -.022em;
  color: #333;

  width: 450px;
  min-height: 4.88235rem;
  padding: .70588rem .88235rem;
  margin-top: .82353rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-sizing: border-box;
  border-spacing: 0;

  background-color: hsla(0, 0%, 100%, .8);
  overflow: hidden;
  cursor: pointer;
}

.size-button-label .size-text {
  font-weight: bold;
}

.size-button-label .desc {
  margin-top: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.33341;
  font-weight: 400;
  letter-spacing: -.01em;
}

input.size-button-input:checked+label.size-button-label {
  border-color: #0070c9;
  border-width: .11765rem;
}

label.size-button-label:hover {
  border-color: #888;
}

label.size-button-label:focus {
  box-shadow: 0 0 0 0.17647rem rgba(131, 192, 253, .5);
  outline: none;
}

.addToBag {
  width: 450px;
  height: 40px;
  font-size: larger;
  border: solid 1px #0070c9;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border-radius: 4px;
  color: white;
  text-align: center;
  cursor: pointer;
}



