body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.icon_menu{
  text-align: center;
}

nav a.icon_menu_effect:hover {
  text-decoration: none;
}

.icon_menu_p {
  color: #1d1d1f;
}

.icon_menu_p:hover {
  color: #0071e3;
}
.new {
  color: #f56300;
  font-weight: 600;
  font-size: 21px;
}
h2 {
  padding: 0;
  margin: 0;
  color: #1d1d1f;

}
.jbWhite{
  background-color: #fff !important;
}

 /* Info Mac */

 
.info .text-mac {
  margin: 30px 0;
}

.descrip {
  font-size: 26px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.more{
  margin-top: 20px;
}

.more-text {
  color: #06c;
  letter-spacing: inherit;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  margin-top: auto;
 }
 .icon-after-more {
   display: inline;
   color: #06c;
 }

 /* Compare */
.compare .more-text{
  font-size: 14px;
}
.compare .button {
  margin-top: 20px;
}
.compare ul {
  margin-top: 56px;
  margin-left: 0;
}

.compare li{
  margin-top: 16px;
  font-size: 14px;
}

.compare .text-comp {
  font-weight: 600;
}

.compare h1 {
  margin-bottom: 60px;
  font-size: 64px;
}


.macOS {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 1440px;
}
.macOS h2 {
  padding-top: 114px;
  margin-bottom: 60px;
  font-size: 64px;
  text-align: center;
}
.macOS .info_macOS {
  background-image: url(/Interface_Mac/images/background/catalina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.macOS .info_macOS .bloctext {
  margin: auto;
  width: 50%;
  color: #fff;
  top: 50%;
  text-align: center;
}
.macOS .info_macOS h3 {
  font-weight: 600;
  font-size: 48px;
}
.macOS .info_macOS .os {
  font-size: 30px;
}
.macOS .info_macOS p{
  font-size: 20px;
}

.macOS .info_macOS .bloctext .more-text{
  color: #fff !important;
}
.macOS .info_macOS .bloctext .icon-after-more{
  color: #fff !important;
}


.get-more h2 {
  padding-top: 114px;
  margin-bottom: 60px;
  font-size: 64px;
  text-align: center;
}
.get-more{
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 1440px;
}
.get-more .iTV {
  display: flex;
  background-color: #000;
  margin-bottom: 20px;
  height: 600px;
}
.get-more .picture{
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}
.get-more .iTV .iTV-boxtext {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding-left: 5%;
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 1;
}

.get-more .iTV .iTV-text p {
  font-size: 20px;
  padding-top: 10px;
  color: #fff;
}

.get-more .iTV .promo-image-tv {
  width: 993px;
  height: 600px;
  background-size: 993px 600px;
  background-repeat: no-repeat;
  background-image: url(/Interface_Mac/images/background/apple_tv_plus.jpg);
  margin-left: -150px;
}
.get-more .iCard {
  display: flex;
  margin-bottom: 20px;
}

.get-more .iCard{
  background-image: url(/Interface_Mac/images/background/tile_apple_card.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
}
.get-more .iCard .iCard-boxtext {
  width: 100%;
  padding: auto;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 58.33%;
  position: relative;
  background-color: #0356a8;
}

.get-more .iCard .iCard-text p {
  font-size: 20px;
  padding-top: 10px;
  color: #000;
} */
.get-more .iArcade {
  /* background-image: url(/Interface_Mac/images/background/apple_arcade_tile_narrow__elrr9qplo6i6_large.jpg);
  background-repeat: no-repeat;
  background-size:  contain;
  position: absolute;
  width: 100%;
  height: 100%; */
}
