.body{
    background-color: #f1f1f1;
}
.markMac{
    color: #000;
    border-bottom: solid 1px;
}
.title ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
}
  
.title li {
    float: left;
    margin: 0;
    padding: 0;
}
  
.title li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.title li a p{
    padding: 0;
    margin: 0;
}
.title li a p.top{
    font-size: 14px;
}

b{
    font-size: 24px;
}

/*//////////////MacAir//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.info-macAir .info-macAir-head{
    background-color: #fafafa;
}

.info-macAir .info-macAir-img{
    background-image: url(../images/Mac/macbook_air_title.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}

.info-macAir .info-macAir-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.info-macAir .info-macAir-text h1{
    font-size: 60px;
}

.info-macAir .info-macAir-text p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}

/*////MacPro13/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.info-macPro13{
    margin-top: 50px;
    margin-bottom: 50px;
}
.info-macPro13 .info-macPro13-img{
    background-image: url(../images/Mac/macbook_pro_13_buy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-macPro13 .info-macPro13-text{
    padding-left: 10%;
    padding-right: 10%;
}
.info-macPro13 .info-macPro13-text p{
    border-top: solid 2px #000;
    padding-left: auto;
    padding-right: auto;
    font-size: 20px;
}
.info-macPro13 .info-macPro13-text h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*MacPro16///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.info-macPro16{
    margin-top: 50px;
    margin-bottom: 50px;
}
.info-macPro16 .info-macPro16-img{
    background-image: url(../images/banner/mac-pro-16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.info-macPro16 .info-macPro16-text{
    padding-left: 10%;
    padding-right: 10%;
}
.info-macPro16 .info-macPro16-text p{
    border-bottom: solid 2px #000;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    font-size: 20px;
}
.info-macPro16 .info-macPro16-text h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.black-side{
    background-color: #17171d;
}

.white-text{
    color: #fff;
}

.content{
   border: solid 2px #d0d0d0;
}

.content .img-fisrt{
    left: -20px;
}
 .content .carousel-item .text{
     display: flex;
     align-items: center;
 }

 .content .carousel-item p{
    font-size: 50px;
    font-weight: 600;
 }
 .content .carousel-item b{
     color: #cfcfcf;
 }

 .content .carousel-indicators li.white{
    background-color: #000;
 }

 .buy h1{
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .buy p{
     font-size: 30px;
     font-style: italic;
     color: red;
 }
 .buy .button{
     width: 100%;
 }
 .buy h3{
     padding-left: 20px ;
 }
ul li {
    margin-bottom:1.4rem;
}
.pricing-divider {
    font-size:24px ;
    padding: 1em 0 4em;
    position: relative;
}
.pricing-divider .buy-img-air-gray{
    background-image: url(../images/banner/macbook-air-space-gray.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.pricing-divider .buy-img-air-gold{
    background-image: url(../images/banner/macbook-air-gold.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.pricing-divider .buy-img-air-silver{
    background-image: url(../images/banner/macbook-air-silver.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.pricing-divider .buy-img-pro13-gray{
    background-image: url(../images/banner/mbp13touch-space-select.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.pricing-divider .buy-img-pro13-silver{
    background-image: url(../images/banner/mbp13touch-silver-select.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}

.pricing-divider .buy-img-pro16-gray{
    background-image: url(../images/banner/mbp16touch-space-select.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.pricing-divider .buy-img-pro16-silver{
    background-image: url(../images/banner/mbp16touch-silver-select.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.princing-item {
    transition: all 150ms ease-out;
}
.princing-item:hover {
    transform: scale(1.05);
}
.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    z-index: 1;
}
.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
    z-index: 1;
}

/* MacAir*/
