.container-fluid {
  height: 100vh;
  margin: 0;
  padding:0;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "menuBar"
  "nav"
  "main-content";
}

.appleNav {
  width: 100%;
  margin: 0 auto;
  grid-area: menuBar;
}

.watchNav {
  width: 100%;
  height: 120px;
  font-weight:normal;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
  grid-area: nav;
}

.watchNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.watchNav ul li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin: 0 20px 0 20px;
  margin-block-end: 3px;
  margin-block-start: 0px;
}

.main-content {
  grid-area: main-content;
}

nav {
  height: 44px;
  background: #323232;
  font-weight:normal;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

nav a {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
color: #B8B8B8;
}

.caption {
  display: block;
  text-align: center;
  font-size: small;
  text-size-adjust: 100%;
}

.title-watch {
  width: 100%;
  height: 200px;
  margin: auto;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.watch-series-5 {
  margin: 30px;
  padding: 10px;
  height: 750px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
  "images info";
}

.watch-series-5-img {
  width: 852px;
  height: 580px;
  margin: 0;
  padding: 0;
  grid-area: images;
}

.watch-series-5-content {
  text-align: center;
  margin: 100px;
  grid-area: info;
}

.watch-series-3 {
  margin: 30px;
  padding: 10px;
  height: 750px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: 
  "info images";
}

.watch-series-3-img {
  width: 757px;
  height: 396px;
  margin: 0;
  padding: 0;
  grid-area: images;
}

.watch-series-3-content {
  text-align: center;
  margin: 100px;
  grid-area: info;
}

.nike-and-hermes {
  height: 900px;
  margin: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "nike hermes";
}

.watch-nike { 
  margin-right: 20px;
  grid-area: nike;
  background-color: rgb(120, 213, 203);
}

.watch-hermes {
  margin-left: 20px;
  grid-area: hermes;
  background-color: rgb(253, 248, 242);
}

.iPrice {
  font-weight: bold;
  font-size: larger;
}

.buyBtn {
  border-radius: 40px;
  border: 2px solid #3385ff;
  background-color: #3385ff;
  color: white;
}

