.container-fluid {
  height: 100vh;
  margin: 0;
  padding:0;
}

nav {
  height: 44px;
  background: #323232;
  font-weight:normal;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
}

nav ul {
display: flex;
justify-content: space-around;
align-items: center;
padding: 0;
margin: 0 auto;
list-style-type: none;
}

nav a {
display: inline-block;
height: 44px;
line-height: 44px;
color: white;
font-size: 15px;
font-weight: lighter;
text-decoration: none;
transition: 0.3s;
}

nav a:hover {
color: #B8B8B8;
}

.appleNav {
  max-width: 980px;
  margin: 0 auto;
}

.watchNav {
  height: 120px;
  font-weight:normal;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;

}

.watchNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.watchNav ul li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin: 0 20px 0 20px;
  margin-block-end: 3px;
  margin-block-start: 0px;
 
}
.caption {
  display: block;
  text-align: center;
  font-size: small;
  text-size-adjust: 100%;
}

.title-watch-series-5 {
  margin: 100px auto 58px;
  margin-block-end: 0.83em;
  margin-block-start: 0.83em;
  padding: 0px;
  width: 653px;
  height: 143px;
  text-align: center;
  font-style: normal;
  font-size: 60px;
  display: flex;
  justify-content: center;
}
.iPrice {
  font-weight: bold;
  font-size: larger;
}
.watch-series-5-img {
  width: 852px;
  height: 580px;
  margin: 0;
  padding: 0;
  float: left;
}
.watch-series-5-content {
  width: 386px;
  height: 392px;
  text-align: center;
  float: right;
  margin: 100px;
}
.buyBtn {
  border-radius: 40px;
  border: 2px solid #3385ff;
  background-color: #3385ff;
  color: white;
}