.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "menuBar"
    "main-content";
}

.appleNav {
    grid-area: menuBar;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

nav {
    height: 44px;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #B8B8B8;
}

.main-content {
    grid-area: main-content;
}

.introduction {
    width: 40%;
    height: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-self: center;
    font-size: 64px;
}

.first-box {
    margin: 50px 80px 50px 80px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "info images";
    height: 650px;
    justify-items: center;
}

.first-box-info {
    grid-area: info;
    margin-left: 460px;
    height: 231px;
    width: 300px;
    text-align: center;
}

.first-box-img {
    grid-area: images;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 650px;
}