/* apple menu */

.appleNav {
    margin-left: -20px;
    margin-right: -20px;
}

.navItems {
    grid-area: menuBar;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.appleNav nav {
    height: 44px;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

.appleNav nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.appleNav nav a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

.appleNav nav a:hover {
    color: #B8B8B8;
}



/* ipad menu */

.ipad-menu {
    margin-left: 34%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
}

.item-menu {
    padding-left: 65px;
    color: black;
}

.item-menu img {
    width: 42px;
    height: auto;
    margin-bottom: 5px;
}

/* site main */


/* site section */

/* ipad pro section */
#ipad-pro-section {
    background-image: url(/images/ipad-pro.jpg);
    background-size: 100% 90%;
    height: 900px;
    background-repeat: no-repeat;
}

#ipad-pro-section .content {
    text-align: center;
    margin-left: 400px;
    margin-top: 40px;
}

/* ipad air section */
#ipad-air-section {
    background-image: url(/images/ipad-air.png);
    background-size: 75% 75%;
    height: 800px;
    background-repeat: no-repeat;
    margin-left: 30px;
}

#ipad-air-section .content {
    margin-left: 800px;
    margin-top: 40px;
}

/* ipad section */
#ipad-section {
    margin-top: -50px;
}

#ipad-section .content {
    padding-left: 100px;
    padding-top: 50px;
}

#ipad-section img {
    width: 140%;
    height: auto;
}

/* ipad mini section */
#ipad-mini-section {
    margin-top: 120px;
}

#ipad-mini-section .content {
    padding-top: 100px;
}


.name-ipad {
    font-size: 70px;
    font-weight: bold;
}

.disc {
    font-size: 30px;
    font-weight: bold;
    margin-top: -35px;
}

.btn {
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.price {
    margin-top: 20px;
}

.btn, .price {
    font-size: 22px;
}



/* site compare */

.site-compare{
    background-color: #f2f2f2;
    padding: 30px 25px 100px 25px;
}

.site-compare .container-fluid {
    background-color: white;
    padding-top: 130px;
    padding-bottom: 50px;
}

.site-compare .row {
    margin-left: 60px;
}

.compare-title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.name-ipad-compare {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.price-compare {
    margin-bottom: 35px;
}

.img-ipad {
    margin-top: 30px;
}

.buy .btn {
    font-size: 15px;
}

/* site-footer */

.site-footer  {
    background-color: #f2f2f2;
    padding: 15px 60px 30px 60px;
    border-top: 1px solid #c0bfc1;
    color: grey;
}
