.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "menuBar"
    "title"
    "main-content";
}

.appleNav {
    grid-area: menuBar;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

nav {
    height: 44px;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #B8B8B8;
}

.title {
    grid-area: title;
    height: 40px;
    font-size: 22px;
    border-width: 1px;
    margin-left: 25%;
  }
  
  .wrap-title {
    border-bottom: 1px lightgray solid;
}

.main-content {
    grid-area: main-content;
}

.shopping {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    text-align: center;
    border: none;
}

.card-text {
    color: black;
    font-size: 14px;
}

.card-text a:link {
    color: black;
}

.card-text a:visited {
    color: black;
}

.card-text a:hover {
    color: #0070c9;
}

.card-text a:link {
    text-decoration: none;
}

.introduction {
    width: 40%;
    height: 180px;
    margin: 50px auto auto auto;
    text-align: center;
    justify-content: center;
}
