.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "menuBar"
    "title"
    "intro"
    "main-content";
}

.appleNav {
    grid-area: menuBar;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

nav {
    height: 44px;
    background: #323232;
    font-weight:normal;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #B8B8B8;
}

.title {
    grid-area: title;
    height: 40px;
    font-size: 22px;
    padding-left: 300px;
    border-bottom: lightgray solid;
    border-width: 1px;
}

.main-content {
    grid-area: main-content;
}

.shopping {
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 224px;
    word-wrap: break-word;
    text-align: center;
    border: none;
}

.card-text {
    color: black;
    font-size: 14px;
}

.card-text a:link {
    color: black;
}

.card-text a:visited {
    color: black;
}

.card-text a:hover {
    color: #0070c9;
}

.card-text a:link {
    text-decoration: none;
}

.introduction {
    grid-area: intro;
    height: 383px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "img1 img2";
    background-color: rgb(45, 74, 85);
    display: flex;
    justify-content: center;
}

.introduction-img-1 {
    grid-area: img1;
    padding: 159px 20px 159px 20px;
}

.introduction-img-2 {
    grid-area: img2;
    padding-left: 200px;
}
